.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


button {
  font-size: 18px;
  color: white;
  padding: 1rem;
  background-color: rgb(2, 85, 209);
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}